.cache/
build/
Sample_Project/build/
Sample_Project/Debug/
Sample_Project/Release/
Sample_Project/MinSizeRel/
Sample_Project/RelWithDebInfo/
Sample_Project/output/
Sample_Project/parse/
Sample_Project/read/
Sample_Project/sanbox/
