[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "src/Core/vendor/GLFW"]
	path = src/Core/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "src/Core/vendor/Box2D"]
	path = src/Core/vendor/Box2D
	url = https://github.com/erincatto/box2d.git
