[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/Core/vendor/GLFW"]
	path = src/Core/vendor/GLFW
	url = https://github.com/glfw/glfw.git
